.categorySection {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.title__Category {
    align-self: flex-start;
    margin-left: 9rem;
    color: #000;
    font-family: sans-serif;
    font-size: 1.200rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.categoryButtons{
    display: flex;
    gap: 80px;
    justify-content: space-around;
    align-items: center;
}

.filterButtons {
    border: none;
    border-radius: 15px;
    width: 6.9rem;
    height: 1.950rem;
    padding: 0.2rem;
    background-color: #649DFF;
    color: white;
    font-family: sans-serif;
    font-size: 1rem;
}