.ButtonsDashboard__btn-delete {
  display: flex;
  justify-content: space-around;
  align-items: start;
  width: 100%;
  border: none;
  background-color: transparent;
}

.ButtonsDashboard__btn-update {
  display: flex;
  width: 2.5rem;
  justify-content: space-around;
  background-color: transparent;
  border: none;
  
}
