.ButtonsDashboard__btn-delete {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  border: none;
  background-color: transparent;
}

.ButtonsDashboard__btn-update {
  display: flex;
  width: 2.5rem;
  justify-content: space-between;
  background-color: transparent;
  border: none;
  
}
