.headerButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.88rem 1.94rem;
}

.headerButtons__btn-header{
    background: transparent;
    border: none;
    
}

.icon-user, .icon-car {
    width: 1.9375rem;
    height: 1.9375rem;
 }
  
.titleCategory-cakes{
    color: white;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    font: bold 1rem sans-serif; 

} 