.header-containerCards {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.88rem 1.94rem;
    z-index: 3;
}

.header-containerCards::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 10rem;
    background: linear-gradient(to bottom, rgba(66, 66, 66, 0.8), transparent);
    z-index: -1;
  }

.headerButtons__btn-headerCards {
    display: flex;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: none;
}

.icon-embed {
    flex-grow: 1;
    width: 0;
    object-fit: contain;
    cursor: pointer;
 }
  
.titleCategoryCards {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    font: bold 1rem sans-serif; 

} 