.image-product {
  display: flex;
  width: 9rem;
  align-items: start;
  border-radius: 1.6rem;
  background-color: #FEC9D1;
}

.image-product__embed {
  flex-grow: 1;
  width: 0;
  object-fit: contain;
}