.nav-cardButtons {
  display: flex;
  justify-content: end;
  align-items: end;
  width: 100%;
}

.nav-cardButtons__btn-nav {
  display: flex;
  width: 2.5rem;
  background: transparent;
  border: none;
  
}

.icon-embed {
  flex-grow: 1;
  width: 0;
  object-fit: contain;
}