.all-description {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.all-description__title {
  font-family: sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal; 
  color: black;
}

.all-description__price {
  font: normal normal 0.75rem sans-serif;
  background-color: #649dff;
  text-align: center;
  vertical-align: baseline;
  border-radius: 15px;
  width: 3.5rem;
  padding: 0.2rem;
  color: white;
}

.all-description__description {
  color: black;
  font-family: sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}