@use 'productsDetails';
@use 'navButtons';
@use 'footer';
@use 'header';
@use 'logo';
@use 'productsMainScreen';

.layout {
  position: relative;
  width: 100%;
  max-width: 428px;
  height: 100vh;
  max-height: 852px;
  margin: 0 auto;
  display: grid; 
  grid: 
    "main"  1fr
    "footer" auto
    / 1fr;
    background: #21212160;
}

.mainScreenProduct-wrapper{ 
  grid-area: main;
  display: flex;
  flex-direction: column;
  overflow-y: scroll; 
  background-color: green;
}
::-webkit-scrollbar {
  display: none;
}

.headerButtons {
  position: absolute;
  width: 100%;
}

.footer { 
  grid-area: footer; 
}




